html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent scrolling */
    font-family: 'Poppins', sans-serif;
}



canvas {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%; /* Scale canvas dynamically */
    height: 100%;
    max-width: 1200; /* Match Phaser's game width */
    max-height: 1025; /* Match Phaser's game height */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    z-index: 0;
    pointer-events: auto; /* Allow interaction */
}
