html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(180deg, #1a237e 0%, #4caf50 100%);
}

canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
